<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/puzzle.css" />
	<script type="text/javascript">
	{{ .Chain }}
	</script>
	<script type="module" src="/static/chain_controller.js"></script>
	<script type="text/javascript">var controller;</script>
</head>
<body onkeydown="controller.key(event)">
	<div id="left">
		<canvas id="puzzle" width=800 height=800 onmousedown="controller.click(event)" ontouchstart="controller.touch(event)" onmousemove="controller.move(event)" ontouchmove="controller.touchMove(event)" ondragstart="return false;">
		</canvas>
	</div>
	<div id="right">
		<div id="rules"></div>
		<div id="controls">
			<button id="reset" onclick="controller.resetPuzzle()">Reset</button>
			<input type="checkbox" id="highlight-errors" checked /><label for="highlight-errors">Highlight Errors</label>
			<br>
			<input type="radio" name="tab" value="main" class="tab-click" id="control" onchange="controller.changeMode(event)" checked />
			<label for="control" class="tab-name">Controls</label>
			<input type="radio" name="tab" value="color" class="tab-click" id="color" onchange="controller.changeMode(event)" />
			<label for="color" class="tab-name">Color</label>
			<input type="radio" name="tab" value="line" class="tab-click" id="line" onchange="controller.changeMode(event)" />
			<label for="line" class="tab-name">Line</label>
			<div class="tab-space">
				<div class="tab" id="control-tab">
				</div>
				<div class="tab" id="color-tab">
					<button id="color-1" onclick="controller.addColor(1)">Red</button>
					<button id="color-2" onclick="controller.addColor(2)">Green</button>
					<button id="color-3" onclick="controller.addColor(3)">Blue</button>
					<button id="color-4" onclick="controller.addColor(4)">Yellow</button>
					<button id="color-5" onclick="controller.addColor(5)">Magenta</button>
					<button id="color-6" onclick="controller.addColor(6)">Cyan</button>
					<button id="color-0" onclick="controller.addColor(0)">White</button>
				</div>
				<div class="tab" id="line-tab"></div>
			</div>
			<button id="next" onclick="controller.next()">Next Link</button>
		</div>
		<div id="message"></div>
		<div id="instructions"></div>
	</div>
</body>
</html>